<div class="centered-form">
    <div class="centered-form__box">
        <h1>Login</h1>
        <form action="/auth/login" method="post">
            <label>Email <font color="red">*</font></label>
            <input type="email" name="email" placeholder="Email" required>
            <label>Password <font color="red">*</font></label>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <p>Not registred? <a href="/auth/signup">Sign Up</a></p>
        </form>
    </div>
</div>