<div class="centered-form">
    <div class="centered-form__box">
        <h1>Sign up</h1>
        <form action="/auth/signup" method="post">
            <label>Name <font color="red">*</font></label>
            <input type="text" name="name" placeholder="Fullname" required>
            <label>Email <font color="red">*</font></label>
            <input type="email" name="email" placeholder="Email" required>
            <label>Password <font color="red">*</font></label>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
            <p>Existing account? <a href="/auth/login">Login</a></p>
        </form>
    </div>
</div>