<style>
    .card {
        margin-top: 50px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="card col-6 offset-3">
            <img class="card-img-top" src="https://ipfa.nl/wp-content/uploads/2018/10/thank-you.png" alt="thankyou img">
            <div class="card-body">
              <h5 class="card-title">Payment successful</h5>
              <p class="card-text">We have received the payment request for your order and we will notify you the order status soon.</p>
              <p>Stay safe! Happy shopping :)</p>
              <p class="text-right">
                <a href="/" class="btn btn-primary">Continue shopping</a>
              </p>
            </div>
        </div>
    </div>
</div>